.advertiseCont{
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../../assets/img/Prison/prison2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: white;
  text-align: center;
  padding: 50px  0;
}

.advertiseCont p{
  margin-bottom: 0;
}

.advertiseCont  button{
  color: var(--secondary-color);
  width: 90px;
  text-align: center;
  font-weight: 700;
  padding: 3px 0;
  border-radius: 3px;
  border: none;
  outline:  none;
  margin: 0 4px;
}

.advertiseCont .outline-btn{
  background: none;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  font-weight: 500;
  color: white;
  font-family: 'Gilroy', sans-serif;
}

.advertiseCont .yellow-btn{
  background: var(--primary-color);
}
.advertiseCont .green-btn{
  background: var(--green-color);
}
.advertiseCont__top{
  margin-bottom: 30px;
}
.advertiseCont__top svg{
  font-size: 50px;
  color: var(--primary-color);
  margin-right: 15px;
}

