.mintGangLeader{
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../../assets/img/Prison/prison2.jpg);
  background-size: cover;
  background-position: center;
  color: white;
}

.gang-leader{
  background-color: var(--secondary-color);
  height: 300px;
  max-width: 350px;
  max-height: 300px;
  margin: 40px 0;
  position: relative;
}
.gang-leader img{
  height: 100%;
}
 .gang__innertext{
  color: var(--primary-color);
  background: #484747;
  position: absolute;
  top: 45%;
  right: 6px;
  padding: 5px 15px;
  font-family: 'Gilroy';
  font-size: 13px;
}
.gangLeader__inputContainer input{
  padding: 10px;
  border-radius: 20px;
  background: var(--secondary-color);
  color: var(--primary-color);
  text-align: center;
  font-weight: 600;
  margin: 0 10px
}
.gangLeader__inputContainer svg{
  font-size: 20px;
}
.gangLeader__parentInputContainer{
  display: flex;
  justify-content: space-between;
  background-color: #111111;
  border-radius: 3px;
  align-items: center;
  padding: 10px 20px;
  
}
.gangLeader__inputContainer .arrow{
  background-color: var(--secondary-color);
  display: inline-block;
  padding: 10px 13px;
  border-radius: 50%;
}
.gangLeader__rightinputContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gangLeader__rightinputContainer p{
  margin-bottom: 0;
  margin: 5px 0;
}
.gangLeader__minted{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  background: #111111;
  padding: 65px 10px 15px;
}
.gangLeader__minted .roll{
  height: 20px;
  background-color: var(--primary-color);
  margin: 0 2px;
  border-radius: 0 20px 20px 0;
}
.gangLeader__minted .before{
  position: absolute;
  top: -50px;
}
.gangLeader__minted .after{
  position: absolute;
  top: -50px;
  right: 0
}

.truckicon{
  font-size: 55px;
  color: var(--primary-color)
}
.truckbefore{
  top: -60px!important
}



/* other nft  */
.other-nft{
  background-color: var(--secondary-color);
  height: 300px;
  max-width: 220px;
  max-height: 200px;
  margin: 40px 0;
  position: relative;
}
.other-nft img{
  height: 100%;
  position: absolute;
  left: 10px;
}
.other-nft__row{
  justify-content: center;
  width: 70%;
  margin: auto;
}
.other-nft .gang__innertext{
  right: 5px;
  padding: 3px 10px;
}
@media screen and (max-width: 992px){
  .gangLeader__parentInputContainer{
    flex-direction: column;
    row-gap: 20px;
  }
  .gangLeader__inputContainer input{
    max-width: 30vw;
  }
  .gangLeader__rightinputContainer > div{
    width: 50%
  }
}
@media screen and (min-width: 993px){
  .gangLeader__parentInputContainer{
    max-width: 70%;
    margin: auto;
  }
  
}