.breedingCont{
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../../assets/img/Prison/prison2.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  min-height: 100vh;
  padding: 50px 0;
}
.breedingCont p{
  margin-bottom: 0;
}
.breedingCont .rowCont{
  column-gap: 20px;
  row-gap: 20px;
  justify-content: center;
  
}
.breedingCont .leftbox, .breedingCont .rightbox{
  background-color: var(--secondary-color);
  width:  35vw;
  max-height: 632px;
  max-width: 540px;
  color: white;
  overflow: hidden;
  padding: 15px;
  border-radius: 10px;
}
.breedingCont .leftbox .controler{
  display: flex;
  justify-content: space-between;
}
.breedingCont .leftbox .controler .right{
  display: flex;
  align-items: center;
}
.breedingCont .leftbox .controler .right svg{
  font-size: 27px;
  color: #6b6b6b;
}
.leftbox .leftimg p{
  font-size: 14px;
}

.breedingCont .leftbox  .time{
  display: flex;
  justify-content: flex-end;
  column-gap: 20px;
  color: #868282;
}

.breedingCont .leftbox .time span{
  border: 1px solid #868282;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: inline-block;
  padding-top: 2px;
}
.breedingCont .leftbox .time p{
  margin-top: 8px;
}

.breedingCont .leftbox .mybtn{
  padding: 3px 10px;
  font-weight: 500;
  font-size: 14px;
}

.breedingCont .leftbox .section1 .leftimg{
  background-color: #3e3c3c;
  border-radius: 3px;
  
}
.breedingCont .leftbox .section1 .leftimg img{
  width:  80%;
}

.breedingCont .leftbox .section2 .imgCont{
  background-color: #3e3c3c;
  border-radius: 3px;
}

.breedingCont .leftbox .section2 .mybtn{
  background: none;
  color: #868282;
  border: 1px solid #868282;
}


.breedingCont .savebtn{
  font-family: "Gilroy";
  font-weight: 800;

}
 /* =========== Right Box ==============  */
 .breedingCont .rightbox .section1 .imgCont{
  background-color: #3e3c3c;
  border-radius: 3px;
}
.breedingCont .rightbox  .section1  .mybtn{
  background: none;
  color: #868282;
  border: 1px solid #868282;
  padding: 3px 10px;
  font-weight: 500;
  font-size: 14px;
}

.breedingCont .rightbox .small-text{
  font-size: 15px;
}


@media screen and (max-width: 992px) {
  .breedingCont .leftbox, .breedingCont .rightbox{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
  }
  .breedingCont .section1 .row{
    row-gap: 20px;
  }
}
@media screen and (min-width: 993px) {
  .breedingCont .leftbox .section1 .leftimg img{
    height:  150px;
  }
  .breedingCont .leftbox .section2 .imgCont{
    height: 100px;
  }
  .breedingCont .rightbox .section1 .imgCont{
    height: 100px;
  }
}