.headerContainer{
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../../assets/img/Prison/prison2.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  min-height: 100vh;
}

.headerContainer .playbtn{
  border: none;
  outline: none;
  background: none;
  border: 1px  solid var(--primary-color);
  color:  var(--primary-color);
  border-radius: 30px;
  padding: 5px  15px
}

@media screen and (min-width: 993px) {
  .headerContainer h1{
    font-size:  73px
  }
}