.swagCont{
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../../assets/img/Prison/prison2.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  min-height: 100vh;
  padding: 50px 0;
}
.rowCont{
  column-gap: 20px;
  row-gap: 20px;
  justify-content: center;
  
}
.swagCont .leftbox, .swagCont .rightbox{
  background-color: var(--secondary-color);
  height: 70vh;
  width:  35vw;
  max-height: 632px;
  max-width: 540px;
  color: white;
  overflow: hidden;
}