.nftviewCont{
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../../assets/img/Prison/prison2.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  min-height: 100vh;
  padding: 50px 0;
}
.nftviewCont p{
  margin-bottom: 0;
}
.rowCont{
  column-gap: 20px;
  row-gap: 20px;
  justify-content: center;
  
}
.nftviewCont .leftbox, .nftviewCont .rightbox .section1, .nftviewCont .rightbox .section2{
  background-color: var(--secondary-color);
  width:  35vw;
  max-height: 632px;
  max-width: 540px;
  color: white;
  overflow: hidden;
  padding: 15px;
  border-radius: 5px;
}

.nftviewCont .leftbox{
  display: flex;
  align-items: center;
  justify-content: center;
}

.nftviewCont .rightbox .section1 > div{
  display: flex;
}
.nftviewCont .rightbox .section1 p{
  width: 50%;
  text-align: left;
  font-size: 18px;
}
.nftviewCont .rightbox .section2{
  margin-top: 20px;
}
.nftviewCont .rightbox .section2 > div{
  display: flex;
}
.nftviewCont .rightbox .section2 p{
  width: 33%;
  text-align: left;
}
@media screen and (min-width: 993px) {

}