:root{
  --primary-color: #fdc110;
  --secondary-color: #1f1e1e;
}


@font-face {
  font-family: Gilroy;
  src: url(./assets/fonts/Satoshi-Variable.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Gilroy;
  src: url(./assets/fonts/Gilroy-Light.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Gilroy;
  src: url(./assets/fonts/Gilroy-Regular.ttf);
  font-weight: 600;
}
@font-face {
  font-family: Gilroy;
  src: url(./assets/fonts/Gilroy-Medium.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Gilroy;
  src: url(./assets/fonts/Gilroy-Bold.ttf);
  font-weight: 800;
}
@font-face {
  font-family: Gilroy;
  src: url(./assets/fonts/Gilroy-Heavy.ttf);
  font-weight: 900;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

h1{
  font-family: 'Gilroy', sans-serif;
  font-weight: 800;
}
h4{
  font-family: 'Gilroy', sans-serif;
  font-weight: 700;
}
p{
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
}
.highlight-text{
  color:var(--primary-color)
}
.highlight-bg{
  background-color:var(--primary-color)
}
.container{
  width: 80%;
  margin: auto
}

  /* button p = primary, o = outline d = disable */
.mybtn{
  padding: 7px 20px;
  border-radius: 5px;
  margin:   0 10px;
  font-weight: bold;
}

.mybtn-p{
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.mybtn-o{
  border: 1px solid var(--primary-color);
  color: white;
  background-color: transparent;
}
.mybtn-d{
  border: 1px solid gray;
  color: rgba(183, 169, 169, 0.8);
  background-color: rgba(128, 128, 128, 0.568);
}